@import './variables';

#header {
    padding: 0 16px;
    background: $frame-border-color;

    display: grid;
    grid-template-columns: 200px 1fr 200px;

    .left, .right {
        margin: auto 0; //vertical centering
    }

    .center {
        text-align: center;
        margin: auto; //horizontal+vertical centering
    }

    .right {
        text-align: right;
        color: #CCC;
    }

    .home-link {
        @include font-play;
        font-size: 18px;
        padding: 6px 6px 5px 6px;
        color: #FFF;
        background: #3888AA;
        text-decoration: none !important;

        &:hover, &:focus, &:active, &:visited {
            color: #FFF;
        }
    }

    .title {
        $fontSize: 16px;
        font-size: $fontSize;
        padding: #{($header-height - $fontSize) / 2} 14px;
        background: #BBB1A7;
        color: #000;
        text-decoration: none !important;
    }
}

.header_info {
    font-family: Consolas;
    font-size: 18px;
    color: #FFF;
}