$frame-border-color: #877D73;
$header-height: 32;
$header-height-px: #{$header-height}px;
$menu-width: 230;
$menu-width-px: #{$menu-width}px;
$tile-width: 16;
$tile-height: 16;

:export {
    menuWidth: $menu-width;
    headerHeight: $header-height;
    tileWidth: $tile-width;
    tileHeight: $tile-height;
}

@mixin font-play {
    font-family: 'Play', sans-serif;
}

@mixin font-roboto {
    font-family: 'Roboto Mono', monospace;
}

@mixin font-nunito {
    font-family: 'Nunito Sans', sans-serif;
}

@mixin font-px {
    font-family: px437;
}

// @mixin font-start {
//     font-family: 'Press Start 2P', cursive;
// }

@mixin font-consolas {
    font-family: 'Consolas', sans-serif;
}

@mixin font-mayday {
    font-family: mayday, sans-serif;
}

@mixin whiteLinkHighlight {
    color: #BBB1A7;

    &.active, &:hover {
        color: #FFF;
    }
}