@import './variables';

#footer {
    @include font-play;
    position: relative;
    border-top: 4px solid $frame-border-color;

    .inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        // height: 32px;
    }
}