#grid {
    overflow: hidden;
    user-select: none;
    position: relative;

    .loading,
    canvas {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #000;
    }

    .loading {
        z-index: -1;
        pointer-events: none;
    }
}
// .grid-tile {
//     width: #{$tileSize * 2}px;
//     height: #{$tileSize * 2}px;

//     @for $i from 1 through 256 {
//         &.p-#{$i} {
//             background-position-x: -#{(($i - 1) % $tilesheetResolution * $tilesheetResolution) * $tileSize * 2 / $tilesheetResolution}px;
//             background-position-y: #{(floor(($i - 1) / $tilesheetResolution) * $tilesheetResolution) * $tileSize * 2 / $tilesheetResolution}px;
//         }
//     }
// }
