#header {
    padding: 0 16px;
    background: $frame-border-color;

    display: grid;
    grid-template-columns: 200px 1fr 200px;

    .left, .right {
        margin: auto 0; //vertical centering
    }

    .center {
        text-align: center;
        margin: auto; //horizontal+vertical centering
    }

    .right {
        text-align: right;
        color: #CCC;
    }

    .home-link {
        $fontSize: 14px;
        font-size: $fontSize;
        color: #FFF;
        background: #3888AA;
        text-decoration: none !important;
        padding: #{($header-height - $fontSize) / 2} 4px;

        &:hover, &:focus, &:active, &:visited {
            color: #FFF;
        }
    }

    .title {
        $fontSize: 16px;
        font-size: $fontSize;
        background: #BBB1A7;
        padding: #{($header-height - $fontSize) / 2} 14px;
        color: #000;
        text-decoration: none;
    }

    .cursors {

    }
}