@import './variables';

#highlighter {
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    pointer-events: none;
    border: 1px solid rgba(0,128,0,.7);
    display: none;
    transition: .1s ease all;

    &.active {
        display: inline-block;
    }
}