$frame-border-color: #877D73;
$header-height: 32px;
$menu-width: 245px;

@font-face {
    font-family: px437;
    src: url('./assets/Px437_IBM_BIOS.ttf');
}

@mixin font-play {
    font-family: 'Play', sans-serif;
}

@mixin font-nunito {
    font-family: 'Nunito Sans', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background: #000;
    color: #FFF;
    font-family: px437;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: "h h" "c m";
    
    grid-template-columns: 1fr $menu-width;
    grid-template-rows: $header-height 1fr;
    
    #header {
        grid-area: h;
    }
    #grid {
        grid-area: c;
    }
    #menu {
        grid-area: m;
    }
}

canvas {
    display: block;
}

@import 'header', 'menu', 'grid';