@import './variables';

@font-face {
    font-family: px437;
    src: url('./assets/Px437_IBM_BIOS.ttf');
}

@font-face {
    font-family: Consolas;
    src: url('./assets/consolas.ttf');
}

@font-face {
    font-family: mayday;
    src: url('./assets/fonts/DF_Mayday_16x16.ttf');
}

body {
    padding: 0;
    margin: 0;
    background: #000;
    color: #FFF;
    @include font-px;
}

#wrapper {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: "h h" "g m" "f f";
    
    grid-template-columns: 1fr $menu-width-px;
    grid-template-rows: $header-height-px 1fr $header-height-px;
    
    #header {
        grid-area: h;
    }
    #grid {
        grid-area: g;
    }
    #menu {
        grid-area: m;
    }
    #footer {
        grid-area: f;
    }
}

canvas {
    display: block;
}

#highlighter {
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    pointer-events: none;

    &.strict {
        border: 1px solid #CCC;
    }

    &.modern {
        display: none;
    }
}

#debug-menu {
    position: fixed;
    top: $header-height-px;
    left: 0;
    width: calc(100% - #{$menu-width}px);
    height: calc(100vh - #{$header-height * 2}px);
    background: #000;
    display: none;
    overflow-y: scroll;
    z-index: 999;

    &.active {
        display: block;
    }

    .chars {
        padding: 2px;
        font-size: 16px;
        border: 0;
        outline: 0;

        .row {
            width: 20%;
            display: inline-block;
            margin-bottom: 2px;

            > div {
                display: inline-block;
                width: 45%;

                &:first-child {
                    text-align: right;
                    padding-right: 8%;
                }
            }
        }
    }
}

.strict-mode {
    margin-top: 30px;

    input[type="checkbox"] {
        opacity: 0;
        position: absolute;
        z-index: -1;
        
        + label {
            position: relative;
            cursor: pointer;
            padding: 4px 6px;

            &:before {
                content: "";
                background: rgba(128,0,0,.3);
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
            }

            &:after {
                content: "Disabled";
                // content: attr(data-unchecked);
                text-transform: uppercase;
                margin-left: 2px;
            }
        }

        &:checked {
            + label {
                &:before {
                    background: rgba(0,128,0,.3);
                }

                &:after {
                    content: "Enabled";
                    // content: attr(data-checked);
                }
            }
        }
    }
}

@import 'header', 'menu', 'grid', 'footer';