#menu {
    border-left: 8px solid $frame-border-color;
    padding: 10px;
    font-size: 12px;
    display: flex;
    flex-direction: column;

    .menu-breadcrumbs {
        margin-bottom: 10px;

        a, a:active, a:hover, a:visited, a:focus {
            color: #CCC;
            text-decoration: none;
        }

        a {
            margin-left: 20px;
            display: inline-block;
            position: relative;

            &:before {
                content: "/";
                position: absolute;
                left: -15px;
            }

            &:first-child {
                margin-left: 0;

                &:before {
                    display: none;
                }
            }

            &:last-child {
                color: #FFF;
            }
        }
    }

    .menu-items {
        .submenu {
            display: none;

            &.active {
                display: block;
            }
        }
    }

    .menu-bottom {
        margin-top: auto;
    }

    .menu-item {
        margin-bottom: 2px;
    }
}