@import './variables';

#menu {
    @include font-consolas;
    border-left: 8px solid $frame-border-color;
    padding: 10px;
    font-size: 16px;
    display: flex;
    flex-direction: column;

    .menu-breadcrumbs {
        margin-bottom: 10px;

        a, a:active, a:hover, a:visited, a:focus {
            color: inherit;
            text-decoration: none;
        }

        a {
            @include whiteLinkHighlight;
            margin-left: 20px;
            display: inline-block;
            position: relative;

            &:after {
                @include font-consolas;
                content: "/";
                position: absolute;
                right: -10px;
            }

            &:first-child {
                @include font-px;
                margin-left: 0;

                &:after {
                    position: relative;
                    top: -1px;
                }
            }

            &:last-child {
                color: #FFF;

                &:after {
                    display: none;
                }
            }
        }
    }

    .menu-items {
        font-size: 16px;
        
        .submenu {
            display: none;

            &.active {
                display: block;
            }
        }

        .menu-item {
            @include whiteLinkHighlight;
            display: block;
            margin-bottom: 4px;
            cursor: pointer;
        }
    }

    .menu-bottom {
        margin-top: auto;
    }
}