@import './variables';

#menu {
    @include font-consolas;
    border-left: 8px solid $frame-border-color;
    padding: 10px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.menu-breadcrumbs {
    margin-bottom: 10px;

    a, a:active, a:hover, a:visited, a:focus {
        color: inherit;
        text-decoration: none;
    }

    a {
        @include whiteLinkHighlight;
        font-size: 16px;
        margin-left: 20px;
        display: inline-block;
        position: relative;

        &:after {
            @include font-consolas;
            content: "/";
            position: absolute;
            right: -15px;
        }

        &:first-child {
            @include font-px;
            font-size: 16px;
            margin-left: 0;

            &:after {
                top: -2px;
            }
        }

        &:last-child {
            color: #FFF;

            &:after {
                display: none;
            }
        }
    }
}

.menu-items {
    @include font-roboto;
    font-size: 12px;
    font-weight: bold;
    
    .submenu {
        display: none;

        &.active {
            display: block;
        }
    }

    .menu-item {
        @include whiteLinkHighlight;
        display: block;
        margin-bottom: 4px;
        cursor: pointer;
    }
}

.menu-toolbar {
    padding: 4px 0;
    border: 1px solid #AAA;
    border-radius: 2px;

    a {
        color: #FFF;
        padding: 4px 8px;
        text-decoration: none;
        display: block;

        &:hover {
            text-decoration: underline;
        }
    }
}

.menu-status {
    //
}

.menu-bottom {
    margin-top: auto;
    
    .copy {
        @include font-nunito;
        margin-top: 30px;
        font-size: 14px;
        text-align: center;
    }
}
